USE [master]
GO
/****** Object:  Database [Market]    Script Date: 03/09/2020 6:04:57 CH ******/
CREATE DATABASE [Market]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Market', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Market.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Market_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Market_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Market].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Market]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 03/09/2020 6:04:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](150) NULL,
	[Company] [nchar](150) NULL,
	[Address1] [nchar](250) NULL,
	[Address2] [nchar](250) NULL,
	[Zip] [nchar](150) NULL,
	[City] [nchar](250) NULL,
	[State] [nchar](150) NULL,
	[Phone] [int] NULL,
	[Country] [nchar](100) NULL,
	[Email] [nchar](100) NULL,
	[Comment] [nchar](250) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 03/09/2020 6:04:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[Date] [nvarchar](50) NULL,
	[SubTotal] [float] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 03/09/2020 6:04:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quality] [int] NULL,
	[Price] [float] NULL,
	[Total] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 03/09/2020 6:04:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[Name] [nchar](150) NULL,
	[Price] [float] NULL,
	[Size] [nchar](150) NULL,
	[Description] [nchar](1000) NULL,
	[Delivery] [nchar](150) NULL,
	[image] [nchar](150) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [CustomerID], [Date], [SubTotal]) VALUES (39, 23, N'Jul  6 2020  9:00PM', 2300)
INSERT [dbo].[Order] ([id], [CustomerID], [Date], [SubTotal]) VALUES (40, 24, N'Jul  6 2020  9:04PM', 8000)
INSERT [dbo].[Order] ([id], [CustomerID], [Date], [SubTotal]) VALUES (41, 25, N'Jul  6 2020  9:07PM', 2300)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([id], [OrderID], [ProductID], [Quality], [Price], [Total]) VALUES (2, 28, 0, 1, 2000, 2000)
INSERT [dbo].[OrderDetail] ([id], [OrderID], [ProductID], [Quality], [Price], [Total]) VALUES (3, 28, 0, 1, 2000, 2000)
INSERT [dbo].[OrderDetail] ([id], [OrderID], [ProductID], [Quality], [Price], [Total]) VALUES (4, 28, 0, 1, 300, 300)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
USE [master]
GO
