body{
    background-color: #FF3333 ;
}
.all{
    background-color: #FFCCCC;
    margin: 40px auto;
    height: auto;
    width: 70%;
    border-radius: 20px;
}
/*header*/
.header{
    border-top-left-radius: 20px;
    border-top-right-radius:  20px;
    background-color: #FF0000;
    height: 130px;
    width: 100%;
}
.text{
    margin-left: 20px;
    color: white;
}
.text h1{
    padding-top: 30px;
}
.text p {
    margin-top: -20px;
}
/*menu*/
.menu{
    height: 30px;
    background-color: #8B2323;
}
.menu a {
    line-height: 30px;
    color: white;
    text-decoration: none;
    padding:  20px;
}
.body{
    display: flex ;
    width: 100% ;
    height: auto ;
}

/*footer*/
.lineFooter{
    line-height: 200px;
    border: 1px dotted #666600;
    width: 95%;
    margin: 30px auto;
}
.footer{
    background-color: none;
    width: 100%;
    height: 100px;
    margin-left: 20px;
}
.footer a {
    color: black;
}
